/* ----- ----- ----- ----- ----- ----- ----- -----
   Package release {build-release}
   File UUID: f200ad08-e034-4b5a-b6da-4e1feea70984
   ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="en-US"] [data-localized-extension="label-name"]>.name::before {
    content: "Favorites Manager";
}

[lang-extension="en-US"] [data-localized-extension="label-name"]>.name>sup::after {
    content: "(beta)";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="en-US"] [data-localized-extension="label-cardFavorites"]::before {
    content: "Favorites";
}

[lang-extension="en-US"] [data-localized-extension="label-cardClipboard"]::before {
    content: "Clipboard";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="en-US"] [data-localized-extension="label-tabPages"]::before {
    content: "Pages";
}

[lang-extension="en-US"] [data-localized-extension="label-tabLinks"]::before {
    content: "Links";
}

[lang-extension="en-US"] [data-localized-extension="label-tabContentClasses"]::before {
    content: "Content Classes";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="en-US"] [data-localized-extension="text-loading-forFavorites"]::after {
    content: "Data will be determined.";
}

[lang-extension="en-US"] [data-localized-extension="text-noData-forFavoritesPages"]::after {
    content: "No data available!";
}

[lang-extension="en-US"] [data-localized-extension="text-noData-forFavoritesLinks"]::after {
    content: "No data available!";
}

[lang-extension="en-US"] [data-localized-extension="text-noData-forFavoritesContentClasses"]::after {
    content: "No data available!";
}

[lang-extension="en-US"] [data-localized-extension="text-loading-forClipboard"]::after {
    content: "Data will be determined.";
}

[lang-extension="en-US"] [data-localized-extension="text-noData-forClipboardPages"]::after {
    content: "No data available!";
}

[lang-extension="en-US"] [data-localized-extension="text-noData-forClipboardLinks"]::after {
    content: "No data available!";
}

[lang-extension="en-US"] [data-localized-extension="text-noData-forClipboardContentClasses"]::after {
    content: "No data available!";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="en-US"] [data-localized-extension="tooltip-reloadAll-fromFavorites"]::after {
    content: "Reload";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-resetSelection-fromFavorites"]::after {
    content: "Reset selection";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-selectAll-fromTabFavorites"]::after {
    content: "Select all";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-deleteSelection-fromFavorites"]::after {
    content: "Delete selection";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-repairSelection-fromFavorites"]::after {
    content: "Repair selection";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-moveSelection-toClipboard"]::after {
    content: "Move to clipboard";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-copySelection-toClipboard"]::after {
    content: "Copy to clipboard";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-removeSelection-fromClipboard"]::after {
    content: "Remove from clipboard";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="en-US"] [data-localized-extension="tooltip-reloadAll-fromClipboard"]::after {
    content: "Reload";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-resetSelection-fromClipboard"]::after {
    content: "Reset selection";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-selectAll-fromTabClipboard"]::after {
    content: "Select all";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-deleteSelection-fromClipboard"]::after {
    content: "Delete selection";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-moveSelection-toFavorites"]::after {
    content: "Move to favorites";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-copySelection-toFavorites"]::after {
    content: "Copy to favorites";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-removeSelection-fromFavorites"]::after {
    content: "Remove from favorites";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPage"]::after {
    content: "Page";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageNew"]::after {
    content: "Page new";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageChanged"]::after {
    content: "Page changed";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageDraft"]::after {
    content: "Page draft";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageReleased"]::after {
    content: "Page released";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageKeyword"]::after {
    content: "Page with keywords";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageNotAvailable"]::after {
    content: "Page not available";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageNeverReleased"]::after {
    content: "Page never released";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageDeletedRecyle"]::after {
    content: "Page deleted (reycle bin)";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageArchived"]::after {
    content: "Page archived";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageRemovedCompletly"]::after {
    content: "Page remove completly";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageWaitingCorrection"]::after {
    content: "Page waiting for correction";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemPageWaitingRelease"]::after {
    content: "Page waiting for release";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemContentClass"]::after {
    content: "Content-Class";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemContentClassMasterpage"]::after {
    content: "Content-Class (Masterpage)";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemAnchor"]::after {
    content: "Anchor";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemContainer"]::after {
    content: "Container";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemList"]::after {
    content: "List";
}

[lang-extension="en-US"] [data-localized-extension="tooltip-template-itemUnknown"]::after {
    content: "Unknown";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */