/* ----- ----- ----- ----- ----- ----- ----- -----
   Package release {build-release}
   File UUID: 379b5ed1-3581-4fd9-b12d-d1f789d89357
   ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-core="en-US"] [data-localized-core="label-name"]>.logo::after {
    content: "owug";
}

[lang-core="en-US"] [data-localized-core="label-name"]>.separator::after {
    content: "|";
}

[lang-core="en-US"] [data-localized-core="label-name"]>.version::before {
    content: "Version";
}

[lang-core="en-US"] [data-localized-core="label-about"]::after {
    content: "About";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-core="en-US"] [data-localized-core="text-status-forProcessing"]::after {
    content: "Please wait! Processing can take a moment.";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-core="en-US"] [data-localized-core="text-loading"]::after {
    content: "Data will be determined.";
}

[lang-core="en-US"] [data-localized-core="text-noData"]::after {
    content: "No data available!";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-core="en-US"] [data-localized-core="label-tabAbout"]::after {
    content: "About";
}

[lang-core="en-US"] [data-localized-core="label-tabContact"]::after {
    content: "Contact";
}

[lang-core="en-US"] [data-localized-core="label-tabLibraries"]::after {
    content: "Licenses";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-core="en-US"] [data-localized-core="tooltip-showInTree"]::after {
    content: "Display in tree";
}

[lang-core="en-US"] [data-localized-core="tooltip-closeDialog"]::after {
    content: "Close";
}

[lang-core="en-US"] [data-localized-core="tooltip-openAbout"]::after {
    content: "About";
}

[lang-core="en-US"] [data-localized-core="tooltip-openSettings"]::after {
    content: "Settings";
}

[lang-core="en-US"] [data-localized-core="tooltip-reloadAll"]::after {
    content: "Reload";
}

[lang-core="en-US"] [data-localized-core="tooltip-resetSelection"]::after {
    content: "Reset selection";
}

[lang-core="en-US"] [data-localized-core="tooltip-resetAll"]::after {
    content: "Reset all";
}

[lang-core="en-US"] [data-localized-core="tooltip-selectAll"]::after {
    content: "Select all";
}

[lang-core="en-US"] [data-localized-core="tooltip-deleteSelection"]::after {
    content: "Delete selection";
}

[lang-core="en-US"] [data-localized-core="tooltip-repairSelection"]::after {
    content: "Repair selection";
}

[lang-core="en-US"] [data-localized-core="tooltip-shareSelection"]::after {
    content: "Share selection";
}

[lang-core="en-US"] [data-localized-core="tooltip-copySelection"]::after {
    content: "Copy selection";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-core="en-US"] [data-localized-core="label-forSubject"]::after {
    content: "Subject";
}

[lang-core="en-US"] [data-localized-core="label-forMessage"]::after {
    content: "Message";
}

[lang-core="en-US"] [data-localized-core="label-forFeatureNotAvailable"]::after {
    content: "Feature currently not available";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */