/* ----- ----- ----- ----- ----- ----- ----- -----
   Package release {build-release}
   File UUID: d7b623be-2131-46b2-b2e8-aa7564be7094
   ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="de-DE"] [data-localized-extension="label-name"]>.name::before {
    content: "Extension-Vorlage";
}

[lang-extension="de-DE"] [data-localized-extension="label-name"]>.name>sup::after {
    content: "(beta)";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="de-DE"] [data-localized-extension="label-cardLeft"]::before {
    content: "Links";
}

[lang-extension="de-DE"] [data-localized-extension="label-cardRight"]::before {
    content: "Rechts";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[lang-extension="de-DE"] [data-localized-extension="label-switchTooltip"]::before {
    content: "Tooltip (an/aus)";
}

[lang-extension="de-DE"] [data-localized-extension="label-switchDebug"]::before {
    content: "Debug-Modus (an/aus)";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */