/* ----- ----- ----- ----- ----- ----- ----- -----
   Package release {build-release}
   File UUID: 0c8ad6fe-91bf-4796-aa31-2bac266706a1
   ----- ----- ----- ----- ----- ----- ----- ----- */

[_lang-core] [data-localized-core]::before,
[lang-core="debug"] [data-localized-core]::before {
    content: "[Core: "attr(data-localized-core) "]";
}

[_lang-extension] [data-localized-extension]::before,
[lang-extension="debug"] [data-localized-extension]::before {
    content: "[Extension: "attr(data-localized-extension) "]";
}

[_lang-embeded] [data-localized-embeded]::before,
[lang-embeded="debug"] [data-localized-embeded]::before {
    content: "[Embeded: "attr(data-localized-embeded) "]";
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
[data-localized-core="label-name"] {
    margin-top: 5px;
}

[data-localized-core="label-name"]>.logo {
    font-size: 32px;
    font-weight: bolder;
}

[data-localized-core="label-name"]>.separator {
    font-size: 28px;
    font-weight: lighter;
}

[data-localized-core="label-name"]>.version {
    float: right;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 10px;
}

[data-localized-extension="label-name"]>.name,
[data-localized-embeded="label-name"]>.name {
    font-size: 23px;
}

[data-localized-extension="label-name"]>.name>sup,
[data-localized-embeded="label-name"]>.name>sup {
    font-size: 11px;
    top: -9px;
    color: #7d7b7c;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
body {
    height: 100vh;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
.spinner {
    width: 70px;
    text-align: center;
    position: absolute;
    top: calc(50vh - 12px);
    left: calc(50vw - 35px);
}

/*
.spinner>div {
    width: 18px;
    height: 18px;
    background-color: rgba(0, 114, 172, 0.75);
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
*/

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
.loading,
.no-data {
    text-align: center;
}

.loading>.spinner-grow {
    position: relative;
    top: -2px;
}

.reverse {
    transform: scaleX(-1);
}

.style-goto {
    transform: scaleX(-1) rotate(45deg);
}

.style-logo {
    height: 40px;
}

.style-logo-list {
    height: 35px;
    margin-top: 5px;
}

.style-dialog-about {
    overflow-y: scroll;
    max-height: 580px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
#idMainDialog {
    min-height: 100vh;
}

#idMainDialog.invisible {
    opacity: 0;
}

[aria-label="controlsDialog"].btn-group {
    margin-top: 15px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
.magic-animation-fg {
    animation: css3-rainbow-fg 1s linear 0s infinite;
}

.magic-animation-bg {
    animation: css3-rainbow-bg 1s linear 0s infinite;
}

@keyframes css3-rainbow-fg {
    0% {
        color: #ff0000;
    }

    20% {
        color: #ffff00;
    }

    40% {
        color: #00ff00;
    }

    60% {
        color: #00ffff;
    }

    80% {
        color: #0000ff;
    }

    100% {
        color: #ff00ff;
    }
}

@keyframes css3-rainbow-bg {
    0% {
        background-color: #ff0000;
    }

    20% {
        background-color: #ffff00;
    }

    40% {
        background-color: #00ff00;
    }

    60% {
        background-color: #00ffff;
    }

    80% {
        background-color: #0000ff;
    }

    100% {
        background-color: #ff00ff;
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
:disabled,
.cursor-disabled {
    cursor: not-allowed !important;
}

.cursor-help {
    cursor: help;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
.height-default {
    min-height: calc(100vh - 14.5rem);
    max-height: calc(100vh - 14.5rem);
}

.height-default-footer {
    min-height: calc(100vh - 18.44rem);
    max-height: calc(100vh - 18.44rem);
}

.height-default-accordion {
    min-height: calc(100vh - 21.44rem);
    max-height: calc(100vh - 21.44rem);
}

.height-default-tabcontent {
    min-height: calc(100vh - 21.25rem);
    max-height: calc(100vh - 21.25rem);
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.remove-outline {
    outline: none !important;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
.accordion .accordionState {
    float: right;
    font-size: 1.45rem;
    line-height: 1rem;
}

.accordion .card:not(:first-of-type) .card-header[aria-expanded="false"] {
    border-bottom-color: transparent;
}

.accordion .card-header[aria-expanded="false"] .accordionState .fa-folder {
    margin-right: 3px;
    opacity: 0.5;
}

.accordion .card-header[aria-expanded="true"] .accordionState .fa-folder {
    display: none;
}

.accordion .card-header[aria-expanded="false"] .accordionState .fa-folder-open {
    display: none;
}

.accordion .card-header[aria-expanded="true"] .accordionState .fa-folder-open {
    opacity: 1.0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
#modalLoading .modal-header {
    border-bottom-color: transparent;
}

#modalLoading .modal-footer {
    border-top-color: transparent;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
.textarea-hidden {
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
    position: fixed;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
.tabs-arrow {
    font-size: 20px;
}

.fa-caret-left.tabs-arrow {
    padding: 0 0 0 2px;
}

.fa-caret-right.tabs-arrow {
    padding: 0 0 0 4px;
}

.scrtabs-tab-scroll-arrow {
    color: #6c757d;
    padding-top: 11px;
    border-top: 1px solid;
    border-color: #ffffff;
    border-radius: 4px;
}

.scrtabs-tab-scroll-arrow:hover {
    color: #0056b3;
    border-color: #dee2e6;
    background-color: #ffffff;
}

.scrtabs-tab-scroll-arrow.scrtabs-disable,
.scrtabs-tab-scroll-arrow.scrtabs-disable:hover {
    color: #cccccc;
    border-color: #ffffff;
    cursor: not-allowed;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6c757d;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: .25rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: .25rem;
}

input:disabled+.slider,
input:disabled:checked+.slider {
    background-color: #cccccc;
}

input:checked+.slider {
    background-color: #28a745;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0056b3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ----- ----- ----- ----- ----- ----- ----- ----- */